.Plans {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Plans h1 {
  font-size: 8rem;
  color: white;

  
}

.vidBackg1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
}


.dur{
  font: 2rem;
  color: white;
}


.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

.lists {
  margin-bottom: 1rem;
  flex: 1 1 0%;
  color: white;
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem;
}

.list span {
  font-weight: bold;
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: red;
}

.plapla{
  display: flex;
  flex-direction: row;
  
}

.plaCon{
  background-color: rgba(225, 189, 1, 0.30);
  padding: 20px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  transition: background-color 0.9s ease;
}

.plaCon:hover{
  background-color: rgba(255, 0, 0, 0.32);
  
}

.plaCon button{

  padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    cursor: pointer;
    margin-bottom: 50px;
    background: #FF0000;
    box-shadow: 0 0 25px #FF0000;
}

.plaCon button:hover{
  box-shadow: 0 0 5px #FF0000,
                0 0 25px #FF0000,
                0 0 50px #FF0000,
                0 0 100px #FF0000;

}


@media screen and (max-width: 1225px) {
  .plaCon{
    margin: 20px;
  }

}


@media screen and (max-width: 861px) {
  .plaCon{
    padding: 5px;
    
  }

  .Plans h1 {
    font-size: 5rem;
  }

}


@media screen and (max-width: 645px) {
 
  .Plans h1 {
    font-size: 3rem;
  }

  .plapla{
    display: flex;
    flex-direction: column;
    
  }

  .dur{
    font: 1rem;
    color: white;
  }
  
  
  .price {
    font-size: 2rem;
  }

  .plaCon button{

    padding: 3px 8px;
      letter-spacing: 1px;
      cursor: pointer;
      margin-bottom: 10px;

  }

  .plaCon{
   
    margin: 5px;
  }

  .lists {
    margin-bottom: 0.3rem;
  }

  .list span {
    font-weight: normal;
  }

  .lists .list {
    margin-bottom: 0.1rem;
  }
}


@media screen and (max-width: 375px) {
  .dur{
    font-size: 0.7rem;
 
  }

  .Plans h1 {
    font-size: 2.5rem;
  }
  
  
  .price {
    font-size: 1rem;
  }

}
